<form class="filters" [formGroup]="form()">
  <mat-form-field class="filters__search" appearance="outline">
    <mat-label>Buscar por nome ou número</mat-label>
    <input matInput type="search" formControlName="search" autocomplete="off" />
    <mat-icon matSuffix aria-hidden="true">search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ordenar</mat-label>
    <mat-select formControlName="sort">
      @for (option of sortOptions; track option) {
        <mat-option [value]="option">{{ sortLabel(option) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipos</mat-label>
    <mat-select formControlName="types" multiple>
      @for (option of typeOptions; track option) {
        <mat-option [value]="option">{{ typeLabel(option) }}</mat-option>
      }
    </mat-select>
    <mat-hint>Combina todos (E)</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Categoria de raridade</mat-label>
    <mat-select formControlName="categories" multiple>
      @for (option of categoryOptions; track option) {
        <mat-option [value]="option">{{ categoryLabel(option) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Faixa de raridade</mat-label>
    <mat-select formControlName="tiers" multiple>
      @for (option of tierOptions; track option) {
        <mat-option [value]="option">{{ tierLabel(option) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button matButton="outlined" type="button" class="filters__clear" (click)="clear.emit()">
    <mat-icon aria-hidden="true">filter_alt_off</mat-icon>
    Limpar filtros
  </button>
</form>
